.descriptionInfo{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}
.headerImg img{
    height: 350px;
}
.descriptionBlock{
    padding: 10px;
}
.mainPhoto{
    max-width: 230px;
    max-height: 230px;
    margin: 0 0 30px 0;
}
.aboutBlock{

    width: 300px;
}
