.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;

}
.dialogsItems .active{
    color: gold;
}

.dialog {

}

.messages {
    border: 1px solid black;
    padding: 10px;

}

.message {


}
.dialog img{
    margin: 0 30px 0 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.message:nth-child(even){
    display: flex;
    justify-content: flex-end;

}